<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
  <style>
      .navbar .navbar-inverse{
          margin-bottom: 0%;
          padding-bottom: 0px;
      }
      .navbar-inverse .navbar-nav .act  a:hover{
          color: orange;
          background-color: black;
          transition: 1s;
      }
      .navbar-inverse .navbar-nav .act a
{
    /* color:white; */
}
.navbar-inverse .navbar-nav .dropdown  a{
          color: white;
          
      }
      .navbar-inverse .navbar-nav li  a{
          color: white;
           }
      .navbar-inverse .navbar-nav .dropdown  a:hover{
          color: orange;
          transition: 1s;
          background-color: black;
      }
      .navbar-inverse .navbar-nav li  a:hover{
          color: orange;
          transition: 1s;
          background-color: black;
      }
      .container{
            margin: 0% 0% 0% 0%;            
            padding: 0px 0px 0px 0px;
            
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
  .carousel-caption{
    padding-top: 250px;
    font-size: 60px;
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .carousel-caption{
  width:100%;
  height:100%;
  
  background-color:rgba(0,0,0,0.5);
}
.row{
    margin-left: 10%;
    margin-right: 10%;
  }
  .products{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  
  .deliever{
             background-image: url('https://www.godrejinterio.com/imagestore/B2C/EspotImages/Images/Banners/promises-product.png');
             height: 500px;
             background-repeat: no-repeat;
             background-position: center;
             margin-bottom: 6%;
           
             
}

  .banner {
            height: 500px;
            background-image: url('https://www.chinadesigncentre.com/uploads/2018/04/052253059860.jpg');
            background-position: center;
           background-repeat: no-repeat;
            background-attachment: fixed;
            padding-top: 13%;
 
            margin-bottom: 6%;
            margin-left: 95px;
            margin-right: 95px;
        }

        .banner-highlights {
            padding: 70px 0;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            color: white;
          
        }
        .spotlight{
          margin-bottom: 6.5%;
        }

       
.finalfoot{
  height: 300px;
  background-color:darkslategray;
}
  </style>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: chocolate; width: 70px;">furniCom</a>
          </div>
          <ul style="float: right; padding-right: 60px;" class="nav navbar-nav">
            <li class="act"><a href="#" style="font-size: 22px;font-family:'Times New Roman', Times, serif;">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="font-size: 22px; font-family:'Times New Roman', Times, serif;" href="#">Catalog <span class="caret"></span></a>
              <ul class="dropdown-menu" style="background-color: chocolate;">
                <li><a style="font-size: 22px;font-family:'Times New Roman', Times, serif;" href="/sofas">Sofas</a></li>
                <li><a style="font-size: 22px;font-family:'Times New Roman', Times, serif;" href="/tables">Tables</a></li>
            
              </ul>
            </li>
            <li><a style="font-size: 22px;font-family:'Times New Roman', Times, serif;" href="#one">About Us</a></li>
            <li><a style="font-size: 22px;font-family:'Times New Roman', Times, serif;" href="/">Logout</a></li>
          
          </ul>
        
        </div>
      </nav>
      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          
          <div class="carousel-inner">
      
            <div class="item active">
              <div class="skt">

              </div>
              <img src="https://images2.alphacoders.com/270/thumb-1920-270990.jpg"style="width:100%;height:800px;">
              <div class="carousel-caption">
                <h2  style="zoom: 200%;font-size: 45px;font-family: cursive;">Sofa Set</h2>
                <p style="zoom: 100%; font-size: 25px; font-family: cursive;" >As Sylish As You</p>
              </div>
            </div>
      
            <div class="item">
              <img src="https://www.usafurnitureonline.com/wp-content/uploads/2016/01/5-Piece-Victorian-Bedroom-Set-Homey-Design-HD-20131.jpg"style="width:100%; height:800px;">
              <div class="carousel-caption">
                <h2 style="zoom: 200%;font-size: 45px;font-family: cursive;">Bed</h2>
                <p style="zoom: 100%; font-size: 25px; font-family: cursive;">Make Space For Family</p>
              </div>
            </div>
          
            <div class="item">
              <img src="https://images.wallpaperscraft.com/image/living_room_dining_room_chairs_table_room_design_7335_1920x1080.jpg" alt="New York" style="width:100%;height: 800px;">
              <div class="carousel-caption">
                <h2  style="zoom: 200%;font-size: 45px;font-family: cursive;">Table</h2>
                <p style="zoom: 100%; font-size: 25px; font-family: cursive;">Family Unites</p>
              </div>
            </div>
        
          </div>
      
          
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <section class="products">
        <h1 style="text-align: center;font-family: sans-serif;font-weight: 700;margin-bottom: 5%;">Best Selling Products</h1>
      <div class="container">
        <div class = "row">
          <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://img2.exportersindia.com/product_images/bc-full/2019/12/5855964/wooden-almirah-1577338956-5222632.jpeg" alt="Card image" style="width:100%;height: 250px;">
          <div class="card-body">
            <h3 class="card-title" style="color: black; zoom: 110%; font-weight: 600;">Storewell wooden Almirah</h3>
            <p class="card-text" style="color: cornflowerblue; zoom: 200%; font-weight: 750;">&#8377 24,000</p>
            <p style="color:crimson;">EMI starts from &#8377 2002</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card">
          <img class="card-img-top" src="https://www.woodenstreet.com/image/cache/data/wing-chairs/joan-wingback-chair/updated/olive-gold/front-NEW-533x368.jpg" alt="Card image" style="width:100%;height: 250px;">
          <div class="card-body">
            <h3 class="card-title" style="color: black; zoom: 110%; font-weight: 600;">Floral wing Chair</h3>
            <p class="card-text" style="color:cornflowerblue; zoom: 200%; font-weight: 750;">&#8377 12,000 </p>
            <p style="color:crimson;">EMI starts from &#8377 1001</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card">
          <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0191/2234/products/DSC_3912_2048x.jpg?v=1534599708" alt="Card image" style="width:100%;height: 250px;">
          <div class="card-body">
            <h3 class="card-title" style="color: black; zoom: 110%; font-weight: 600;">Wakefit Sheesham Bed</h3>
            <p class="card-text" style="color: cornflowerblue; zoom: 200%; font-weight: 750;">&#8377 40,000</p>
            <p style="color:crimson;">EMI starts from &#8377 2500</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
      </div>
      </section>

      <section id="banner" class="banner">    
        <div class="banner-highlights">
        <div  class="container">
            <div  class="row">
                <div  class="col-md-8" style="font-family: sans-serif;font-weight: 800;">
                    <h2>Shop now and get 20% discount</h2>
                    <p>Now decorate your home at low cost</p>
                </div>
               
            </div>
        </div>
    </div>

  </section>

  <section class="spotlight">
    <h1 style="text-align: center;font-family: sans-serif;font-weight: 700;margin-bottom: 5%;">In The Spotlight</h1>
    <div class="container">
      <div class = "row">
        <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://www.ulcdn.net/opt/www.ulcdn.net/images/products/162726/slide/666x363/Alita_Storage_Coffee_Table_Half_3.jpg?1515145466" alt="Card image" style="width:100%;height: 250px;">
        <div class="card-body">
          <h3 class="card-title" style="color:black; zoom: 100%; font-weight: 400; text-align: left;">Coffee Tables </h3>
        <h4 style="color: dimgray; font-family: cursive; text-align: left;">Staring from     &#8377 4,235 </h4>
       
        </div>
      </div>
    </div>


    <div class="col-md-3">

      <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0191/2234/products/DSC_3858_2048x.jpg?v=1529687354" alt="Card image" style="width:100%;height: 250px;">
        <div class="card-body">
          <h3 class="card-title" style="color: black; zoom: 100%; font-weight: 400;text-align: left;">Dining Tables</h3>
        
          <h4 style="color: dimgray; font-family: cursive; text-align: left;">Staring from     &#8377 8,000 </h4>
        
        </div>
      </div>
    </div>


    <div class="col-md-3">

      <div class="card">
        <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/jlqwpe80-1/side-table/4/f/t/rosewood-sheesham-alqvil01bst-bedside-table-alquiler-provincial-original-imaf8t49a3hfxd3q.jpeg?q=70" alt="Card image" style="width:100%;height: 250px;">
        <div class="card-body">
          <h3 class="card-title" style="color: black; zoom: 100%; font-weight: 400;text-align: left;">Bedside Tables</h3>
          <h4 style="color: dimgray; font-family: cursive; text-align: left;">Staring from     &#8377 3,000 </h4>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://cdn10.bigcommerce.com/s-k9wwi/products/9323/images/22557/Carolyn-Dining-Chairs-with-Acacia-Legs__34555.1565621247.1280.1280.png?c=2" alt="Card image" style="width:100%;height: 250px;">
        <div class="card-body">
          <h3 class="card-title" style="color: black; zoom: 100%; font-weight: 400; text-align: left;">Dining Chairs</h3>
          <h4 style="color: dimgray; font-family: cursive; text-align: left;">Staring from     &#8377 4,500 </h4>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>

  <section>
    <div class="deliever">
     
    </div>
  </section>



  <section class="finalfoot" id="one">
     <container>
       <div class="row">
             <div class="col-lg-4">

              <h3 style="color: chocolate;  font-size: 40px; padding-top: 20px;">furniCom</h3>

              <br>
              
            <div style="color:white; font-family:Verdana, Geneva, Tahoma, sans-serif; line-height: 13px; font-size: 16px;">
                <p>furniCom,

                </p>
                <p> GLA University</p>
                <p>Mathura, UP</p>
                <p>Uttar Pradesh 281001</p>
               
            </div>
            </p>

             </div>
             <div class="col-lg-4">
                  
              <div style="padding-top: 45px;">

                <p style="color: chocolate; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px; ">Get in touch</p>
                <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                        class="fa fa-mobile" aria-hidden="true"></i>&nbsp +91 9166621138 | 9997140952</p>
                <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                        class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp sanket.goyal_cs17@gla.ac.in
                </p>
                <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                        class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp shivam.mehrotra_cs17@gla.ac.in
                </p>
                <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                  class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp prafullit.shukla_cs17@gla.ac.in
          </p>
          <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
            class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp shikha.saini_cs17@gla.ac.in
    </p>
                
    
            </div>
             </div>

             <div class="col-lg-4">
              <div style="padding-top: 45px;">
                <p style="color: chocolate; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px; padding-left: 32px;">Useful Links</p>
    
                <ul style="list-style: none;">
                        <li><a  style="text-decoration: none; font-size: 18px;color: white;" href="">FAQ</a></li>
                    
                        <li><a  style="text-decoration: none; font-size: 18px; color: white;" href="">Terms and Condition</a></li>
                        <li><a style="text-decoration: none; font-size: 18px; color: white;" href="">Privacy Policy</a></li>
                        <li><a  style="text-decoration: none; font-size: 18px; color: white;" href="">Terms of Use</a></li>
                        <li><a  style="text-decoration: none; font-size: 18px; color: white;" href="">Refund Policy</a></li>
                </ul>
    
            </div>
             </div>

       </div>
     </container>
  </section>


  
</body>
</html>